nav {
    background-color: lightsalmon;
    display: inline-block;
    position: relative;
}

.start {
    padding: 20px;
}

.togglePart {
    visibility: hidden;
    /* display: none;  display can not transition; */
    position: absolute;
    width: 100px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.start:hover+.togglePart,
.togglePart:hover {
    visibility: visible;
    /* display: block; */
    opacity: 1;
}

.gridcontainer {
    display: grid;
    grid-template-rows: repeat(5, 50px);
    background-color: lightslategray;
}

.item {
    border: 1px white solid;
}

.item:hover {
    background-color: darkgray;
    transition: background-color 0.3s ease-in-out;
}

/* slider */