html {
    box-sizing: border-box;
}

nav {
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
}

.start {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    border: 1px solid black;
    border-right-width: 0px;
}

.togglePart {
    visibility: hidden;
    /* display: none;  display can not transition; */
    position: absolute;
    /* this is good  */
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 5;
}

.start:hover .togglePart,
.togglePart:hover {
    visibility: visible;
    opacity: 1;
}

.gridcontainer {
    display: grid;
    grid-template-rows: repeat(5, 20px);
    background-color: #e5e7eb;
}

.item {
    border: 1px #d1d5db solid;
}

.item:hover {
    background-color: #9ca3af;
    transition: background-color 0.3s ease-in-out;
}

/* slider */
img {
    height: 400px;
    width: 400px;
}

.hide {
    visibility: hidden;
}