html {
    box-sizing: border-box;
}

nav {
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
}

.start {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    border: 1px solid black;
    border-right-width: 0px;
}

.togglePart {
    visibility: hidden;
    /* display: none;  display can not transition; */
    position: absolute;
    /* this is good  */
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 5;
}

.start:hover .togglePart,
.togglePart:hover {
    visibility: visible;
    opacity: 1;

}

.gridcontainer {
    display: grid;
    grid-template-rows: repeat(5, 20px);
    background-color: #e5e7eb;
}

.item {
    border: 1px #d1d5db solid;
}

.item:hover {
    background-color: #9ca3af;
    transition: background-color 0.3s ease-in-out;
}

/* slider */
/* first try */
/* img {
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.hide {
    visibility: hidden;

}

.frame {
    display: block;
    position: relative;
}

.imgholder {
    display: block;
    position: relative;
}

.changepic {
    z-index: 1000;
    position: absolute;
    top: 400px;
}

.forward {
    left: 380px;
} */

/* second try without js */
.bigholder {
    position: relative;
    margin: 0 auto;
}

.imgholder {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
}

.imgholder img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.navbutton {
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 20px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%)
}

a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9ca3af;
    opacity: 75%;
    transition: opacity ease 500ms;
}

a:hover {
    opacity: 1;
}

.leftrightbutton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    display: flex;
    column-gap: 90vw;
}